Repository ntadej/Vremenar-API: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, mypy, black, pyupgrade, check-yaml

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: flake8
        name: flake8
        entry: flake8
        language: system
        types: [python]
      - id: mypy
        name: mypy
        entry: mypy
        language: system
        types: [python]
        require_serial: true
      - id: black
        name: black
        entry: black
        language: system
        types: [python]
      - id: pyupgrade
        name: pyupgrade
        args: ["--py39-plus"]
        entry: pyupgrade
        language: system
        types: [python]
      - id: check-yaml
        name: Check Yaml
        entry: check-yaml
        language: system
        types: [yaml]
      - id: end-of-file-fixer
        name: Fix End of Files
        entry: end-of-file-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
      - id: trailing-whitespace
        name: Trim Trailing Whitespace
        entry: trailing-whitespace-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-added-large-files

Reorganise weather providers a bit
  src/vremenar/sources/arso/__init__.py
  src/vremenar/sources/arso/maps.py
  src/vremenar/sources/arso/stations.py
  src/vremenar/sources/arso/utils.py
  src/vremenar/sources/dwd.py
  src/vremenar/sources/dwd/__init__.py
  src/vremenar/sources/dwd/maps.py
  src/vremenar/sources/dwd/stations.py
  src/vremenar/sources/dwd/utils.py
Due: flake8, mypy, black, pyupgrade

Adapt for master -> main rename
  .github/workflows/codeql-analysis.yml
  README.md
Due: check-yaml

Improve test coverage
  .coveragerc
  .vscode/settings.json
  src/vremenar/api/version.py
  src/vremenar/sources/arso/maps.py
  src/vremenar/sources/arso/stations.py
  src/vremenar/sources/arso/utils.py
  src/vremenar/sources/dwd/maps.py
  src/vremenar/sources/dwd/stations.py
  src/vremenar/sources/dwd/utils.py
  src/vremenar/sources/wrapper.py
  src/vremenar/utils.py
  tests/api/test_stations.py
Due: flake8, mypy, black, pyupgrade

Update dependencies
  poetry.lock
  pyproject.toml
Due: none

Tweak DWD stations zoom levels a bit
  data/stations/DWD.csv
  src/vremenar/sources/dwd/utils.py
Due: flake8, mypy, black, pyupgrade

Bump version
  README.md
  pyproject.toml
  src/vremenar/__init__.py
Due: flake8, mypy, black, pyupgrade

Fix timestamp parsing
  src/vremenar/utils.py
Due: flake8, mypy, black, pyupgrade

Bump dependencies
  poetry.lock
  pyproject.toml
Due: none

Bump version
  pyproject.toml
  src/vremenar/__init__.py
Due: flake8, mypy, black, pyupgrade

DWD: find also stations without only forecast but add fallback
  src/vremenar/sources/dwd/stations.py
Due: flake8, mypy, black, pyupgrade

Add initial alerts API
  data/alerts/germany.json
  data/alerts/germany_stations.json
  data/alerts/slovenia.json
  data/alerts/slovenia_stations.json
  poetry.lock
  pyproject.toml
  src/vremenar/api/__init__.py
  src/vremenar/api/alerts.py
  src/vremenar/definitions.py
  src/vremenar/main.py
  src/vremenar/models/alerts.py
  src/vremenar/sources/__init__.py
  src/vremenar/sources/meteoalarm/__init__.py
  src/vremenar/sources/meteoalarm/alerts.py
  src/vremenar/sources/wrapper.py
Due: flake8, mypy, black, pyupgrade

List alerts for stations or areas
  src/vremenar/api/alerts.py
  src/vremenar/models/alerts.py
  src/vremenar/sources/__init__.py
  src/vremenar/sources/meteoalarm/__init__.py
  src/vremenar/sources/meteoalarm/alerts.py
  src/vremenar/sources/meteoalarm/utils.py
  src/vremenar/sources/wrapper.py
Due: flake8, mypy, black, pyupgrade

Read stations from the database
  .vscode/settings.json
  data/stations/ARSO.json
  data/stations/DWD.csv
  poetry.lock
  pyproject.toml
  src/vremenar/api/stations.py
  src/vremenar/database/__init__.py
  src/vremenar/database/redis.py
  src/vremenar/database/stations.py
  src/vremenar/definitions.py
  src/vremenar/sources/arso/maps.py
  src/vremenar/sources/arso/stations.py
  src/vremenar/sources/arso/utils.py
  src/vremenar/sources/dwd/maps.py
  src/vremenar/sources/dwd/stations.py
  src/vremenar/sources/dwd/utils.py
  src/vremenar/sources/wrapper.py
Due: flake8, mypy, black, pyupgrade

Read all alerts information from redis
  .flake8
  data/alerts/germany.json
  data/alerts/germany_stations.json
  data/alerts/slovenia.json
  data/alerts/slovenia_stations.json
  poetry.lock
  pyproject.toml
  src/vremenar/api/alerts.py
  src/vremenar/models/alerts.py
  src/vremenar/sources/meteoalarm/alerts.py
  src/vremenar/sources/meteoalarm/utils.py
  src/vremenar/sources/wrapper.py
  src/vremenar/utils.py
Due: flake8, mypy, black, pyupgrade

Restore tests
  .github/workflows/CI.yml
  poetry.lock
  pyproject.toml
  tests/api/test_stations.py
  tests/conftest.py
Due: flake8, mypy, black, pyupgrade, check-yaml

Update dependencies and bump version
  poetry.lock
  pyproject.toml
  src/vremenar/__init__.py
Due: flake8, mypy, black, pyupgrade

Add stations fixtures
  .github/workflows/CI.yml
  tests/fixtures/setup_fixtures.py
Due: flake8, mypy, black, pyupgrade, check-yaml

Read MOSMIX data from redis
  .github/workflows/CI.yml
  .gitignore
  poetry.lock
  pyproject.toml
  src/vremenar/database/stations.py
  src/vremenar/sources/dwd/maps.py
  src/vremenar/sources/dwd/utils.py
  src/vremenar/utils.py
  tests/api/test_stations.py
  tests/fixtures/DWD_MOSMIX.json
  tests/fixtures/setup.sh
  tests/fixtures/setup_fixtures.py
Due: flake8, mypy, black, pyupgrade, check-yaml

Add ability to manually include forecast-only stations when searching
  src/vremenar/api/stations.py
  src/vremenar/sources/dwd/stations.py
  src/vremenar/sources/wrapper.py
Due: flake8, mypy, black, pyupgrade

Update fastapi
  poetry.lock
  pyproject.toml
Due: none

Add alerts_areas to the station model
  src/vremenar/database/stations.py
  src/vremenar/models/stations.py
Due: flake8, mypy, black, pyupgrade

Do not return obsolete alerts
  src/vremenar/sources/meteoalarm/alerts.py
Due: flake8, mypy, black, pyupgrade

Fix low cloud coverage values
  src/vremenar/sources/dwd/utils.py
Due: flake8, mypy, black, pyupgrade

Bumo actions/cache to v3
  .github/workflows/CI.yml
Due: check-yaml

Update actions
  .github/workflows/codeql-analysis.yml
Due: check-yaml

Add SonarCloud scanning
  .github/workflows/CI.yml
  .vscode/settings.json
  sonar-project.properties
Due: check-yaml

Fix conversion error when determining the icon (fixes #266)
  src/vremenar/sources/dwd/utils.py
Due: flake8, mypy, black, pyupgrade

Increase test coverage to almost 100%
  src/vremenar/database/__init__.py
  src/vremenar/database/stations.py
  src/vremenar/definitions.py
  src/vremenar/main.py
  src/vremenar/models/alerts.py
  src/vremenar/sources/arso/maps.py
  src/vremenar/sources/arso/utils.py
  src/vremenar/sources/dwd/maps.py
  src/vremenar/sources/dwd/utils.py
  src/vremenar/sources/meteoalarm/alerts.py
  src/vremenar/tests/test_definitions.py
  tests/api/test_alerts.py
  tests/api/test_stations.py
  tests/fixtures/setup_fixtures.py
Due: flake8, mypy, black, pyupgrade

Define custom exceptions
  src/vremenar/exceptions.py
  src/vremenar/sources/arso/maps.py
  src/vremenar/sources/arso/stations.py
  src/vremenar/sources/dwd/maps.py
  src/vremenar/sources/dwd/stations.py
  src/vremenar/sources/meteoalarm/alerts.py
  src/vremenar/sources/wrapper.py
  src/vremenar/tests/test_exceptions.py
Due: flake8, mypy, black, pyupgrade

Simplify some code
  src/vremenar/sources/dwd/stations.py
  src/vremenar/sources/meteoalarm/alerts.py
Due: flake8, mypy, black, pyupgrade

Remove TODO in favour of a ticket
  src/vremenar/sources/dwd/maps.py
Due: flake8, mypy, black, pyupgrade

Improve handling of DWD icons
  src/vremenar/sources/dwd/stations.py
  src/vremenar/sources/dwd/utils.py
  src/vremenar/tests/test_dwd_icon.py
  tests/fixtures/setup_fixtures.py
Due: flake8, mypy, black, pyupgrade

Re-run pre-commit tests with newer checks
  src/vremenar/api/stations.py
  src/vremenar/utils.py
  tests/conftest.py
Due: flake8, mypy, black, pyupgrade

Update dependencies and add Python 3.11 to test matrix
  .github/workflows/CI.yml
  .mypy.ini
  poetry.lock
  pyproject.toml
  src/vremenar/database/redis.py
  src/vremenar/utils.py
  src/vremenar/worker.py
Due: flake8, mypy, black, pyupgrade, check-yaml

CI improvements
  .github/workflows/CI.yml
Due: check-yaml

Bump minimal python version to 3.10
  .github/workflows/CI.yml
  .github/workflows/codeql-analysis.yml
  .pre-commit-config.yaml
  .vscode/settings.json
  README.md
  poetry.lock
  pyproject.toml
  sonar-project.properties
  src/vremenar/api/alerts.py
  src/vremenar/api/stations.py
  src/vremenar/api/version.py
  src/vremenar/database/redis.py
  src/vremenar/database/stations.py
  src/vremenar/models/alerts.py
  src/vremenar/models/common.py
  src/vremenar/models/maps.py
  src/vremenar/models/stations.py
  src/vremenar/models/weather.py
  src/vremenar/sources/arso/stations.py
  src/vremenar/sources/arso/utils.py
  src/vremenar/sources/dwd/stations.py
  src/vremenar/sources/dwd/utils.py
  src/vremenar/sources/meteoalarm/alerts.py
  src/vremenar/sources/wrapper.py
Due: flake8, mypy, black, pyupgrade, check-yaml
